@use "../abstracts/funcions" as *;
@use "../base/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/media" as *;




.section__catalog {
  padding-block: remF(86);
  background-color: $white;

  .section__catalog-container {

    h1 {
      font-family: "Black Han Sans", sans-serif;
      font-weight: 400;
      @include fluid-text(26,36);
      line-height: 200%;
      text-transform: uppercase;
      text-align: center;
      color: $secondary;
      margin-bottom: remF(24);
    }

    .catalog-content-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: remF(30);

      @include customMedia(1024) {
        justify-content: center;
      }

      .catalog-card {
        padding: remF(10) remF(20);
        flex: 0 3 300px;
        border: 1px solid $primary;
        border-radius: 10px;

        .catalog-img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: remF(24);

        }

        .catalog-card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: remF(24);

          h3 {
            font-family: "Black Han Sans", sans-serif;
            font-weight: 400;
            @include fluid-text(14,24);
            line-height: 200%;
            text-align: center;
            color: $primary;
          }

          p {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            @include fluid-text(14,18);
            color: $primary;
          }

          a {
            transition: all 0.3s ease-in;
            font-family: "Noto Sans", sans-serif;
            font-weight: 900;
            @include fluid-text(14,18);
            text-transform: uppercase;
            color: $secondary;
            align-self: flex-end;
            padding: remF(7) remF(14);
            border: 1px solid $secondary;
            border-radius: 12px;

            &:hover {
              color: $white;
              background-color: $secondary;
            }
          }
        }
      }
    }
  }
}