@use "../abstracts/funcions" as *;
@use "../base/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/media" as *;


.section__about {
  background-color: $white;
  padding: remF(86) 0 remF(80) 0;

  h2 {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    @include fluid-text(26, 36);
    text-align: center;
    line-height: 200%;
    text-transform: uppercase;
    color: $secondary;
    margin-bottom: remF(44);
  }

  .about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: remF(79);

    .about-image-wrapper {
      flex: 0 0 39%;
      min-height: 200px;
      height: remF(377);
      background-color: $primary;
      position: relative;

      img {
        max-width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: remF(20);
        left: remF(25);
      }
    }


    .about-content {
      max-width: 52.5%;

      h3 {
        font-family: "Black Han Sans", sans-serif;
        font-weight: 400;
        @include fluid-text(14, 24);
        line-height: 200%;
        text-align: center;
        color: $primary;
        margin-bottom: remF(24);
      }

      p {
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        line-height: 135%;
        @include fluid-text(10, 20);
        color: $primary

      }
    }

  }

  .span__bymax {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    @include fluid-text(10, 20);
  }

  .span__bymax-y {
    color: $secondary;
  }
}